@use "variables";

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.wrapper::after{
    content: "";
    position: absolute;

    inset: 0;
    width: 100%;
    height: 771px;

    background: variables.$purple900;
    border-bottom-left-radius: 19% 2%;
        border-bottom-right-radius: 19% 2%;
    
    z-index: -1;
}
.wrapper::before{
    content: "";
    position: absolute;

    top: 600px;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 970px;

    background: variables.$purple100;
    border-bottom-left-radius: 19% 2%;
    border-bottom-right-radius: 19% 2%;
    
    z-index: -1;
}
.container{
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;

}
.hero{
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-decoration{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}
.hero-decoration--left{
    width: 270px;
    height: 215px;
    background-image: url("../images/bg-pattern-1.svg");
    left: -140px;
    top: 110px;
}
.hero-decoration--right{
    width: 141px;
    height: 112px;
    background-image: url("../images/bg-pattern-2.svg");
    right: -100px;
    top: 310px;
}

.header{
    margin-top: 56px;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link{
    position: relative;
    text-decoration: none;
    color: variables.$white;
    font-size: 18px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    transition: all 0.3s ease 0s;
}
.header-link::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: variables.$green;
}
.header-link:hover{
    color: variables.$green;
}

.hero-content{
    max-width: 635px;
    margin: 56px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.hero-title{
    font-size: 80px;
    color: variables.$white;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 600;
}
.hero-title span {
  position: relative;
  display: inline-block;
}

.hero-title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background-color: variables.$green;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 58px;
    color: variables.$purple900;
    background-color: variables.$green;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.button:hover{
    border: 2px solid variables.$green;
    background-color: variables.$purple900;
    color: variables.$green;
}
.hero-image_container{
    width: 767px;
    height: 441px;
    margin: 88px auto 0px;
}
.hero-image_container img{
    width: 100%;
    display: block;
    object-fit: cover;
}
// =====================================

.features{
    padding-top: 88px;
    padding-bottom: 144px;
    position: relative;
    z-index: 5;
}
.features-row{
    border-bottom: 3px solid variables.$purple500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features-columns{
    margin-bottom: 60px;
    flex: 0 1 352px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.features-number{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid variables.$purple500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: variables.$purple500;
    line-height: 40px;
}
.features-title{
    margin-top: 56px;
    font-size: 32px;
    color: variables.$purple900;
}
.features-text{
    margin-top: 28px;
    text-align: center;
    color: variables.$purple900;
    font-size: 18px;
}
// ==========================
.founder{
    margin-top: 112px;
    margin-bottom: 112px;
    position: relative;
    min-height: 579px;

}
.founder-image_container{
    width: 477px;
    height: 477px;
    position: absolute;
    top: 0;
    left: 0;

}
.founder-image_container img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.founder-content{
    position: relative;
    right: 0;
    bottom: 0;

    background-color: variables.$purple900;
    bottom: 0;
    right: 0;
    width: 730px;
    min-height: 411px;
    padding: 64px;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.founder-content::before{
    content: "";
    position: absolute;
    width: 173px;
    height: 137px;
    background: url("../images/bg-pattern-3.svg") center / cover no-repeat;
    right: 72px;
    bottom: -40px;
}
.founder-title{
    font-size: 56px;
    color: variables.$white;
    line-height: 120%;
}
.founder-text{
    color: variables.$white;
    font-size: 18px;
    line-height: 180%;
}

// =========================================
.footer{
    padding-top: 112px;
    padding-bottom: 112px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 54px;
}
.social-block{
    display: flex;
    align-items: center;
    gap: 28px;
}


@media (max-width:1226px) {
    .founder-content{
        bottom: -115px;
    }
}
@media (max-width: 1024px) {
    
    .hero-title{
        font-size: 60px;
    }
    .hero-image_container{
        width: 514px;
        height: 296px;
        margin: 40px auto 0px;
    }
    .features-row{
        flex-direction: column;
        border-bottom: none;
    }
    .features-columns{
        flex-direction: row;
        margin-bottom: 0;
        margin-top: 50px;
        flex: 0 0 auto;
        gap: 44px;
        padding: 20px;

    }
    .features-block{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .features-title{
        font-size: 28px;
        margin-top: 0;
        line-height: 150%;
        font-weight: 500;
    }
    .features-text{
        font-size: 16px;
        text-align: left;
        margin-top: 0;
        line-height: 180%;
    }
    .founder-image_container{
        height: 280px;
        width: 280px;
    }
    .founder-content{
        bottom: 40px;
        width: calc(100% - 280px);
    }
}

@media (max-width: 767.98px ) {
    .wrapper::after{
        border-bottom-left-radius: 19% 2%;
        border-bottom-right-radius: 19% 2%;
    }
    .wrapper::before{
        border-bottom-left-radius: 19% 2%;
        border-bottom-right-radius: 19% 2%;
        height: 1300px;
    }
    .hero-decoration{
        display: none;
    }
    .hero-title{
        font-size: 48px;
    }
    .features-row{
        margin-top: 40px;
    }
    .features-columns{
        flex-direction: column;
        margin-top: 30px;
    }
    .features-block{
        align-items: center;
        justify-content: center;
    }
    .founder{
        margin-top: 0;
    }
    .founder-image_container{
        left: 50%;
        transform: translateX(-50%);
        top: -180pz;
    }
    .founder-content{
        bottom: -65px;
        width: 100%;
        padding: 30px;
        gap: 24px;
    }
    .founder-content::before{
        display: none;
    }
    .founder-title{
        font-size: 48px;
    }
    .founder-text{
        font-size: 16px;
    }

}
@media (max-width: 372px) {
    .wrapper::after{
        height: 500px;
    }
    .wrapper::before{
        height: 1000px;
        top: 500px;
    }

    .hero-title{
        font-size: 34px;
    }
    .hero-image_container{
        width: 220px;
        height: 180px;
    }
    .features{
        padding-top: 0;
    }
    
    .founder-title{
        font-size: 32px;
    }
    .founder-text{
        font-size: 16px;
    }
}
